<form action="#">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div class="form-group">
        <input type="text" class="form-control" id="fname" placeholder="First name" name="fName" style="font-size:18px">
      </div></div>
    <div class="col-sm-5">
      <div class="form-group">
        <input type="text" class="form-control" id="sname" placeholder="Surname" name="sName" style="font-size:18px">
      </div></div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="form-group">
        <input type="text" class="form-control" id="mEmail" placeholder="Mobile number or email address" name="mEmail" style="font-size:18px">
      </div></div>
    <div class="col-sm-1"></div></div>
  <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="form-group">
      <input type="password" class="form-control" id="nPass" placeholder="New Password" name="nPass" style="font-size:18px">

    </div></div>
  <div class="col-sm-1"></div></div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="form-group">
        <h4>Birthday</h4>
        <div class="row">
        <div class="col-sm-6">
          <app-date-input></app-date-input></div><div class="col-sm-6"><a href="#" style="font-size: 12px">
          Why do I need to provide my date of birth?</a></div></div>
      </div></div>
    </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
     <app-gender-check></app-gender-check></div>
    <div class="col-sm-6"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <h6><p style="color: gray;font-size: 11px">By clicking Create an account, you agree to our <a>Terms</a> and confirm that you have read our <a>Data Policy</a>, including our <a>Cookie</a> <a>Use Policy</a>. You may receive SMS message notifications from Facebook and can opt out at any time.</p></h6>
    </div> <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <button type="button" class="btn btn-success btn-block" style="font-weight: bold;font-size: 18px">Create an account</button>
    </div>
    <div class="col-sm-6"></div>
  </div>



</form>
