.inputLabel{
  color: white;
  font-weight: 200;
}
.forgot{
  color: #6181B6;
  font-size: 12px;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 13px;
  line-height: inherit;
}
.btn-group-xs>.btn, .btn-xs {
  padding: 3px 6px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px;
  margin-top: 24px;
}
