<form class="navbar-form navbar-left">
  <div class="form-group row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
      <label for="ex1" class="inputLabel">Email or Phone</label>
      <input  id="ex1" class="inputTxt" type="text">
    </div>
    <div class="col-xs-4">
      <label for="ex2" class="inputLabel">Password</label>
      <input  id="ex2" class="inputTxt" type="text">
      <span ><a href="#" class="forgot">Forgotten account?</a></span>
    </div>
    <div class="col-xs-2">
      <button type="submit" class="btn btn-primary btn-xs">login</button>
    </div>
  </div>
</form>
