<app-nav-bar></app-nav-bar>
<div class="col-sm-6">

  <div class="col-sm-1"></div>
  <div class="col-sm-9">
  <h4 class="imgTag">Facebook helps you connect and share with the people in your life.</h4>
    <img src="../assets/facebook-map.png"></div>
  <div class="col-sm-2"></div>
</div>
<div class="col-sm-5">
  <h1 class="accHead">Create an account</h1>
  <h4 class="tagLine">It's free and always will be.</h4>
  <app-signup-from></app-signup-from>
</div>
<div class="col-sm-1"></div>


