<nav class="navbar navbar-inverse" style="background-color: #3B5998">
  <div class="container-fluid">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img class="logo" src="../../assets/facebook320x320.jpg"></a>
      </div>
    </div>
    <div class="col-sm-6">
    <app-login-form></app-login-form>
    </div>
  </div>
</nav>
