<div class="form-group">
  <table>
    <tr>
      <td>
    <select class="form-control" id="sel1">
      <option *ngFor="let item of getDays()">
        {{item}}
      </option>
    </select>
      </td>
      <td>
        <select class="form-control" id="sel1">
          <option *ngFor="let item of months">
            {{item}}
          </option>
        </select>
      </td>
      <td>
        <select class="form-control" id="sel1">
          <option *ngFor="let item of getYears()">
            {{item}}
          </option>
        </select>
      </td>
    </tr>
  </table>
</div>
